body{
    background-image: url(./handson2.jpg);
    border: 10px groove green;
}
.upper{
    display: flex;
}
.box{
    color: white;
    border: 7px solid red;
    background-color: black;
    border-radius: 40px;
    font-style: italic;
    display: inline-block;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.leftbox{
    height: 100px;
    width: 365px;
}
.middlebox{
    height: 57px;
    width: 480px;
    margin-left: -179px;
    margin-top: 33px;
}
.rightbox{
    height: 180px;
    width: 400px;
}

.middle{
    display:flex;
    
}
.circle{
    height: 350px;
    width: 350px;
    border: 7px solid grey;
    border-radius: 50%;
    background-color: rgb(61, 173, 173);
    margin: 200px 35px 20px ;
}
.circletext{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 95px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
.form{
    height: 650px;
    width: 400px;
    border: 10px dashed red;
    margin-left: 250px;
    margin-top: 65px;
    background-color: white;
}
.formtext{
    color: tomato;
    text-align: center;
    font-weight: bold;
}

.centerbox{
    display: block;
    width: 460px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.lower{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menubox{
    width: 360px;
    height: 275px;
    border: 5px solid green;
    background-color: aqua;
    border-radius: 35px;
    display: inline-block;
    color: blue;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.lastbox{
    height: 320px;
}